<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pembelian_tiket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="pembelian tiket"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PembayaranActivity">
        </activity>
        <activity
            android:name=".HasilFilmActivity"
            android:parentActivityName=".HasilActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HasilActivity"
            android:parentActivityName=".FilmActivity" />
        <activity
            android:name=".FilmActivity"
            android:label="pembelian tiket">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>