
/* CSS Lowongan */
body{
	background-image: url('../img/09.jpg');
}

.table-lowongan{
	font-size: 17px;
	 background-image: url('../img/background1.jpg');
    opacity: 0.8; 
}

.judul-lowongan{
	font-size: 22px;
	padding-top: 25px;
	background-color: #EF4C4C;
}

.syarat{
	text-align: left;
	padding-left: 10px;  
}

.deskripsi{
	text-align: left;
	padding-left: 10px; 
}

.tombol-lamar{
	border-bottom: solid 1px black;
	padding-bottom: 25px;  
	text-decoration: none; 
}

.tombol{
	color: white;
	background-color: #EC3737;
	padding: 3px;
	border-radius: 5px;
}

.tombol:hover{
	color: white;
	background-color: #D50909;
}

